{% extends "base.html" %}

{% block title %}Hilfegesuch{% endblock %}
{% block custom_css %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
{% endblock %}
{% block content %}
<h1>Hilfegesuch von {{ object.help_seeker.institution }}</h1>
<p>
	{{ object.description }}
</p>
<p>
    Benötigte Helfer: {{ object.required_helper_count }}
</p>
<p>
    {{ object.start_date|date }} - {{ object.end_date|date }}
</p>
    <a href="{% url 'helper_list' %}"><button type="button" name="search helpers" class="button">Helfer suchen</button></a>
{% include "snippets/map.html" with location=object.location.location %}
{% endblock %}
