{% extends "base.html" %}

{% block title %}MedReg - Institution{% endblock %}
{% block custom_css %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
{% endblock %}
{% block content %}
<h1>Institution {{ object.name }}</h1>
<textarea disabled>{{ object.comment }}</textarea>
{% include "snippets/map.html" with location=object.location.location %}
{% endblock %}
