{% load static %}
<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href={% static "style.css" %} type="text/css"></link>
        <title>{% block title %}{% endblock %}</title>
        {% block custom_css %}{% endblock %}
    </head>
    <body>
        <div class="header">
            <div class="header-part header-start">
                <a href="/">
                    <img src="{% static "logo.png" %}"/>
                </a>
                <a href="/">Startseite</a>
                {% if user.is_help_seeker %}
                <a href="{% url 'create_help_request' %}">Neue Hilfsanfrage</a>
                <a href="{% url 'help_request_list' %}">Meine Hilfsanfragen</a>
                {% endif %}
            </div>
            <div class="header-part header-center">
                Registrierung für medizinisches Hilfspersonal
            </div>
            <div class="header-part header-end">
                {% if user.is_authenticated %}
                    <div class="user-info">
                        <a href="{% url 'view_profile' user.id %}">{{ user.email }}</a>
                        | <a href="{% url 'logout' %}">Logout</a>
                    </div>
                {% endif %}
                {% if not user.is_authenticated %}
                    <div class="user-info unauthorized-links">
                        <a href="/register">Registrieren</a>
                        <a href="{% url 'login' %}">Login</a>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="content-container">
            {% block content %}{% endblock %}
        </div>
        <div class="footer">
            <div id="copyright-disclaimer">"MedReg" ist ein open-source Software Projekt initiiert von <a href="https://github.com/Jacky213">Jacky213</a>, <a href="https://github.com/JP1998">JP1998</a>, <a href="https://github.com/Kalkihe">Kalkihe</a>, <a href="https://github.com/naeherinhafen95">NaeherinHafen95</a>, <a href="https://github.com/Thor77">Thor77</a> und <a href="">Tobi</a>. Es ist hier zu finden: <a href="https://github.com/Kalkihe/MedReg">Github</a>.</div>
        </div>
    </body>
    {% block custom_js %}{% endblock %}
</html>
