{% extends "base.html" %}

{% block title %}Hello World from this Template{% endblock %}

{% block content %}
<h1>Herzlich Willkommen</h1>

<p>Unser Land braucht Hilfe, um die aktuelle Krise zu überstehen. Ihre Hilfe! </p>
    <br>
    <p>Besitzen Sie eine medizinische Ausbildung, haben aber mittlerweile die Branche gewechselt? Sind Sie bereit, Ihr
        Wissen zu reaktivieren und der Gesellschaft die Unterstützung zu bieten, die sie gerade am dringendsten braucht? Dann melden Sie sich noch heute als <a href="/register/helper">Helfer:in</a> an!</p>
    <br>
    <p>Benötigen Sie Hilfe im Krankenhaus, für Ihre Blutspendeaktion oder die Betreuung von Menschen? Dann können Sie sich als <a href="/register/helpseeker">Hilfesuchende:r</a> registrieren und hilfsbereite
    Personen kontaktieren.</p>
    <br>
    <div style="text-align:center;width:100%;display:flex;justify-content: center"><img width="500" src="../static/logo.png"/></div>
    <br>
    <div style="text-align:center;width:100%;display:flex;justify-content: center">Gemeinsam und solidarisch schaffen wir es durch diese Krise!</div>

{% endblock %}
