{% extends "base.html" %}

{% block title %}Loginpage{% endblock %}

{% block content %}

    {% if badLogin %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}


<div class="container">
	<!-- <img scr="images/icon.jpg" class="icon"> -->
	<h1>Login</h1>
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
	<p><label for="name">E-Mail Adresse</label>
		<input type="text" name="email"></input>
	</p>
	 <p><label for="password">Passwort:</label>
		<input type="password" name="password"></input>
	</p>
	<p>
	<button type="submit" name="submit" class="button">Login</button>
	</p>
	</form>
</div>

{% endblock %}

