{% extends "base.html" %}

{% block title %}MedReg - Profil{% endblock %}

{% block content %}
	<h1>Profilseite von {{ user.first_name }} {{user.last_name}}</h1>
	<div>
		<p>Kontaktinformationen: <br>
			E-mail: {{user.email}}<br>
			Telefonnummer: {{user.phone_number}}<br></p>
		<p>
			Wohnort: {{user.helper.location.city}}
		</p>
		<p>
			Verfügbar?
            {%  if user.helper.is_avialable %}
            Ja
            {% else %}
            Nein
            {% endif %}
		</p>
		<p>
			Kommentar: {{user.comment}}
		</p>
		<p>
			Qualifikationen:
            {% if user.helper.qualifications %}
            Keine
            {% else %}
            {{user.helper.qualifications}}
            {% endif %}
		</p>
		<p>
			Ausstrittsdatum aus der medizin Branche: {{user.helper.medical_leaving_date}}
		</p>
		<p>
			Aktuelle Tätigkeit:
            {{user.helper.current_occupation}}
		</p>
		<p>
			Aktuell in der Medizin ehrenamtlich oder teilberuflich tätig?:
            {% if user.helper.current_medical_occupation %}
            Ja
            {% else %}
            Nein
            {% endif %}
		</p>
	</div>
	<p>
		<a href="{% url 'index' %}"> <Button action={% url 'index'%} type="button" name="edit" class="button">bearbeiten</button></a>
	</p>

{% endblock %}