{% extends "base.html" %}

{% block title %}MedReg - Profil{% endblock %}

{% block content %}
<h1>Profilseite {{ user.first_name }} {{user.last_name}}</h1>
<div>
    <table class="table-vertical-top-align">
        <tr>
            <td>E-Mail Adresse</td>
            <td>{{user.email}}</td>
        </tr>
        <tr>
            <td>Telefonnummer</td>
            <td>{{user.phone_number}}</td>
        </tr>
        <tr>
            <td>Institution</td>
            <td>
                {{user.helpseeker.institution.name}}<br>
                {{user.helpseeker.institution.location.city}}<br>
                {{user.helpseeker.institution.comment}}
            </td>
        </tr>
        <tr>
            <td colspan="2">
                {{user.helpseeker.comment}}
            </td>
        </tr>
    </table>
</div>
<p>
    <a href="{% url 'create_help_request' %}"><button type="button" name="Help request" class="button">Hilfsanfrage erstellen</button></a>
    <a href="{% url 'helper_list' %}"><button type="button" name="search helpers" class="button">Helfer suchen</button></a>
    <a href="{% url 'help_request_list' %}"><button type="button"name="edit" class="button">Eigene Hilfsanfragen anschauen</button></a>
</p>

{% endblock %}
