{% extends "base.html" %}

{% block title %}Register{% endblock %}

{% block custom_css %}
    {% for css_path in stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{ css_path }}">
    {% endfor %}
{% endblock %}

{% block custom_js %}
<script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
{% for form in forms %}
    {% if form.media %}
    {{ form.media }}
    {% endif %}
{% endfor %}
{% endblock %}

{% block content %}
<h1>{{ caption }}</h1>
<form action="{% url action %}" method="POST">
    {% csrf_token %}
    {% for form in forms %}
    {{ form.as_p }}
    {% endfor %}
    <p>
        <input type="submit" value="Submit">
    </p>
</form>
{% endblock %}
