{% extends "base.html" %}

{% load static %}

{% block title %}Hello World from this Template{% endblock %}

{% block content %}
<h1>What are you registering for?</h1>

<div class="register-selection-cards-wrapper">
    <div class="card register-card">
        <a href="/register/helper">
            <img src={% static "logo-helper.jpg" %}/>
            <h2>Helping people</h2>
        </a>
    </div>
    <div class="card register-card">
        <a href="/register/helpseeker">
            <img src={% static "logo-helpseeker.jpg" %}/>
            <h2>Looking for help</h2>
        </a>
    </div>
</div>

{% endblock %}
