{% extends "base.html" %}

{% block title %}MedReg - Startseite{% endblock %}

{% block content %}

<div  >
	
	<h1>Vermittlung von medizinischem Personal in Krisensituationen</h1>
	<form>
	<p>Auf dieser Webseite können sich Personen mit medizinischem Hintergrund registrieren,
	um in Krisensituationen aushelfen zu können. In Krisensituationen können Institutionen Hilfegesuche einstellen
	und registrierte Helfer gezielt anfragen. 
	Bitte registrieren Sie sich, um das gesamte Angebot der Webseite nutzen zu können.
	</p>
	</form>
</div>

{% endblock %}

