{% extends "base.html" %}

{% load static %}

{% block title %}Login{% endblock %}

{% block custom_css%}
    <link rel="stylesheet" type="text/css" href="{% static "stylesheet-login.css" %}">
{% endblock %}

{% block content %}

<div class="container-login">
	<h1>Login</h1>
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        {{ form }}
        <input class="button" type="submit" value="Login">
        <input type="hidden" name="next" value="{{ next }}">
    </form>
</div>
{% endblock %}

