
* {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
}

body{
    margin: 0 auto;
    /* background-image: url("images/background.jpg"); */
    /*background-size: cover;*/
    font-family: 'Trebuchet Ms', 'Lucinda Sans Unicode', 'Lucinda Grande', 'Lucinda Sans', Arial, sans-serif;
}

a {
    color: #000;
    font-weight: bolder;
}

a:visited {
    color:#000;
}

.container-login {
    width:20em;
    height: 25em;
    margin: 130px auto;
    padding-top:50px;
    text-align: center;
    background-color: rgba(69,38,38,0.6);
    border-radius:10px;
}

.container {
    width: 60em;
    height: 800px;
    margin: 130px auto;
    padding-top:50px;
    text-align: center;
    background-color: rgba(69,38,38,0.6);
    border-radius:10px;
}
.icon {
    margin-top: -120px;
}

input[type="text"], input[type="password"] {
    width: 300px;
    height: 50px;
    font-size: 18px;
    margin-bottom: 20px;
    padding-left: 5px;
}
.button {
    width: 150px;
    height: 50px;
    font-size: 18px;
    background-color: #000;
    color:#fff;
    border: #fff solid 1px;
}
.button hover {
    background-color: #fff;
    color: #000;
    cursor : pointer;
}
.header-part {
    display: inline-block;
    float: left;

    box-sizing: border-box;
    
    height: 100%;
    width: calc(100% / 3);

    display: flex;
    align-items: center;
}

.header {
    background: #ffffff;
    height: 48px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: black;
}

.header-start {
    padding-left: 7%;
    justify-content: flex-start;
}

.header-start > a:first-child {
    height: 100%;
}

.header-start > a > img {
    height: 100%;
}

.header-start > a {
    margin-right: 12px;
}

.header-center {
    justify-content: center;
}

.header-end {
    padding-right: 7%;
    justify-content: flex-end;
}
.table {
    border-color: black;
    border-width: 4px;
    border-style: solid;
    border-collapse: collapse;
    border-radius: 6px;
    margin-right: 5px;
    margin-left: 5px;
    
}
.user-info {
    float: right;
}

.errorlist {
	color:#ff0000;
	font-weight : bold
}

.unauthorized-links > a {
    margin-right: 12px;
}

.unauthorized-links > a:last-child {
    margin-right: 0;
}

.content-container {
    max-width: 1000px;
    min-height: calc(100% - 49px);
    margin-right: auto;
    margin-left: auto;
}
