
:root {
    --header-height: 48px;
    --header-border-size: 1px;
    --footer-height: 80px;
}

* {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
}

body{
    margin: 0 auto;
    /* background-image: url("images/background.jpg"); */
    /*background-size: cover;*/
    font-family: 'Trebuchet Ms', 'Lucinda Sans Unicode', 'Lucinda Grande', 'Lucinda Sans', Arial, sans-serif;
}

a {
    color: inherit;
    font-weight: bolder;
}

a:visited {
    color: inherit;
}

.container-login {
    width:20em;
    margin: 15% auto;

    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 24px;
    padding-left: 24px;

    text-align: center;
    background-color: rgba(69,38,38,0.6);
    border-radius:10px;
}

.results-table {
    border-collapse: collapse;
}

.results-table > tr > td,th {
    padding-right: 8px;
    padding-left: 8px;
}

.icon {
    margin-top: -120px;
}

.button {
    width: 150px;
    height: 50px;
    font-size: 18px;
    background-color: #000;
    color:#fff;
    border: #fff solid 1px;
}

.button hover {
    background-color: #fff;
    color: #000;
    cursor : pointer;
}

.header {
    background: #ffffff;
    height: var(--header-height);
    border-bottom-width: var(--header-border-size);
    border-bottom-style: solid;
    border-bottom-color: black;
}

.header-part {
    display: inline-block;
    float: left;

    box-sizing: border-box;
    
    height: 100%;
    width: calc(100% / 3);

    display: flex;
    align-items: center;
}

.header-start {
    padding-left: 7%;
    justify-content: flex-start;
}

.header-start > a:first-child {
    height: 100%;
}

.header-start > a > img {
    height: 100%;
}

.header-start > a {
    margin-right: 12px;
}

.header-center {
    justify-content: center;
}

.header-end {
    padding-right: 7%;
    justify-content: flex-end;
}

.user-info {
    float: right;
}

.errorlist {
	color:#ff0000;
	font-weight : bold
}

.unauthorized-links > a {
    margin-right: 12px;
}

.unauthorized-links > a:last-child {
    margin-right: 0;
}

.content-container {
    max-width: 1000px;
    min-height: calc(100% - (var(--header-height) + var(--header-border-size) + var(--footer-height)));

    margin-right: auto;
    margin-left: auto;

    padding-top: 24px;
    padding-bottom: 24px;
    padding-right: 24px;
    padding-left: 24px;

    box-sizing: border-box;
}

.footer {
    color: #afafaf;
    background: #2f2f2f;

    box-sizing: border-box;

    height: var(--footer-height);
    
    padding-top: 24px;
    padding-right: 7%;
    padding-left: 7%;
}

#copyright-disclaimer {
    font-size: 0.8em;
}

#mapid { height: 500px; }

h1 {
    margin-bottom: 12px;
}

.card {
    border-style: solid;
    border-width: 2px;
    border-color: lightgray;
    border-radius: 12px;

    overflow: hidden;

    box-sizing: border-box;

    box-shadow: 2px 2px 5px gray;
    transition: box-shadow 0.3s ease-in-out;
}

.card:hover {
    box-shadow: 7px 7px 5px gray;
}

.card h2 {
    text-align: center;
    margin-bottom: 8px;
}

.register-card {
    width: calc(50% - 6px);

    display: inline-block;
    float: left;

    margin-right: 12px;
}

.card:last-child {
    margin-right: 0;
}

.card img {
    width: 100%;
}
